/*
colores a usar
    blanco: '#FFFFFF',
    negro: '#000000',
    violeta: '#8C6FF7',
    turquesa: '#00B4CC',
    fondoClaro: '#EFEEEE',
    advertencia: '#FF4545',

*/

/* fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.encabezado {
    position:fixed;
    top:0;
    width:100%;
    background-color: #000000;
    color: #FFFFFF;
    height: 100px;
    box-sizing: border-box;
    position: sticky;
}
.encabezado div h1 {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 0 10px;
}
.imagen_noventa {
    height: 90px;
}
.flex_horizontal {
    display: flex;
    flex-direction: row;
}
.display_flex {
    display: flex;
}
ul {
    list-style: none;
    padding: 0;
}
.items_centro {
    align-items: center;
    justify-content: center;
}
.margen_lista_horizontal li {
    margin: 0 30px 0 30px;
}
.imagen_espacios {
    margin: 5px;
    margin-left: 30px;
}
nav {
    width: 100%;
}
nav ul li {
    font-size: 20px;
}
.fondo h1 {
    font-size: 40px;
    text-align: center;
}
section {
    margin: 0;
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 0px;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.carousel-control {
    background: #8C6FF7;
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: #ab95fb;
    color: #FFFFFF;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}