/*
colores a usar
    blanco: '#FFFFFF',
    negro: '#000000',
    violeta: '#8C6FF7',
    turquesa: '#00B4CC',
    fondoClaro: '#EFEEEE',
    advertencia: '#FF4545',

*/

/* fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.encabezado {
    position:fixed;
    top:0;
    width:100%;
    background-color: #000000;
    color: #FFFFFF;
}
.encabezado div h1 {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 0 10px;
}
.imagen_noventa {
    height: 90px;
}
.flex_horizontal {
    display: flex;
    flex-direction: row;
}
.display_flex {
    display: flex;
}
ul {
    list-style: none;
    padding: 0;
}
.items_centro {
    align-items: center;
    justify-content: center;
}
.margen_lista_horizontal li {
    margin: 0 20px 0 20px;
}
main {
    background-color: #EFEEEE;
}
.imagen_espacios {
    margin: 5px;
}
nav {
    width: 100%;
}