/*
colores a usar
    blanco: '#FFFFFF',
    negro: '#000000',
    violeta: '#8C6FF7',
    turquesa: '#00B4CC',
    fondoClaro: '#EFEEEE',
    advertencia: '#FF4545',

*/
.encabezado {
    position:fixed;
    top:0;
    width:100%;
}
#logo_principal {
    height: 90px;
}